@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
.navbar{
    position: relative;
}
.navbar-right a{
    text-decoration: none;
    color: #545454;
    font-size: 22px;
}
.navbar-right a i{
    font-size: 28px;
    color: #000000;
}
nav{
    background-color: #F2F2F2;
}
.navbar-brand{
    position: absolute;
    margin: 0 auto;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #a2a2a2;
    margin: 0 15px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #000000;
}
.banner{
    background-color: #DADBDC;
    padding: 90px;
    text-align: center;
}
.banner h1{
    font-size: 34px;
    color: #000;
}